body{
    background-color: #1C2541 ;
    margin: auto;
    margin-top: -2rem;
    font-family: 'Sawarabi Gothic', sans-serif;
}
header{
    background-color: #0B132B;
    height: 10rem;
    font-family: 'Sawarabi Gothic';
    background-image: url(../images/header.jpg);
    background-blend-mode: overlay;
}
h1{
    color: #95F9E3;
    margin: 2rem;
    padding: 3.5rem;
    justify-content: center;
    text-align: center;  
    margin-bottom: 0;
}
main{
    height: auto;
    margin: 2rem;
    color: #95F9E3;
    margin-top: 0;
}
.dropdown{
    margin-top:1rem;
    height: auto;
    display: flex;
    flex-direction: column;
}
.bgContainer{
    background-image: url(../images/bg.jpg);
    padding-top: 1rem;
    padding-bottom:1rem;
    background-repeat:round;
}

.interactionType,.genres,.partsofSpeech{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto%;
    font-size: 20px;
    margin:1vh;
    margin-bottom: 0;
    position: relative; top: -3vh;
}
.interactionType
{
    border-style: double;    
    border-radius: 1vh;
    border-color: white;
}
#interactionHeader,#pos{
    font-size: 2.5vh;
    margin-bottom:1vh;
    margin-top: 0;
    align-self: center;
}
.inter1, .inter2{
    font-size: 2vh;
    justify-self: center;
    position:relative; left:7vw; top:-3vh;
}
.radio{
    margin-left: 3vw;
    margin-top:7px;
    align-self: left;
    width: 20px;
    height: 20px;
   
}
.partsofSpeech{
    border-style: double;    
    border-radius: 1vh;
    border-color: white;
    font-size: 2.5vh;
}
.textboxPos{
    margin: 30vh;
}
#enter{
    margin:1vh;
}
#score,#genres,#limit{
    width: auto;
    height: auto;
    font-size: 30px;
}
.imagecontainer{
    width: 50%;
    height: 100%;
    float: right;
    font-family: 'Sawarabi Gothic';
}

#statusText{
    text-align: center;
    font-size: 19px;
    background-color: 

}
#statusImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#search,#generate,#enter,#synBtn, #picture{
    width: 50%;
    height: 3.5vh;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 4px;
    background-color:#3A506B;
    border-style:groove;
    border-color:#15F9F6;
    border-radius: 12px;
    color: #95F9E3;     
}
#generate{
    position:relative;
    top: -3vh;
    left:10px;
    margin-top:1vh;;
    height: 5vh;
}
#search:hover,#generate:hover,#enter:hover,#synBtn:hover, #picture:hover{
    background-color:#0B132B;
    opacity: 80%;
}
#search:active,#generate:active,#enter:active,#synBtn:active, #picture:active{
    background-color:#1C2541;
    opacity: 80%;
}
#picture{
    margin-bottom: 1vh;
}
hr{
    margin-top: 0rem;
    border: 2px solid #0B132B;
    border-radius: 5px;
}
h2{
    color: #95F9E3;
    margin-left: 1rem;
    text-align: center;
}
p{
    font-family: 'Sawarabi Gothic';
    text-align: center;
    margin-left: 1rem;
    color:aliceblue;
}
.image{
    margin: auto;
    display: block;
    margin-bottom: 1rem;
    
}
footer{
    background-color: #0B132B;
    margin-top: -1.2em;
    height: 5rem;
    font-family: 'Sawarabi Gothic';
    background-image: url(../images/header.jpg);
    background-blend-mode:soft-light;
    text-align: center;
    color: #95F9E3;
    padding-top: 50px;
}


a{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5rem;
    display: block;
    color: aliceblue;     

}
a:hover{
    color: #95F9E3;     
}
a:visited{
    color: #3A506B;
}
#document{
    margin-left: 1rem;
}
h3{
    color: #95F9E3;
}
#content{
    display: grid;
    grid-template-columns: auto auto;
}
#left,#right{
   margin: 5px;
   box-shadow:inset 0 0 10px #000000;
}
.mainContent{
    margin: 10px;
}
#left{
    grid-column: 1;
}
#right{
    grid-column: 2;
}
.synopsis{
    text-align: left;
}


@media only screen and (max-width: 820px) {
#content{
     display: grid;
    grid-template-columns: auto auto;
}}
@media only screen and (max-width: 700px) {
#statusImage{
    height: auto;
    width: 120%;
    }
main{
    height: auto;
    margin-left: 1rem;
    margin-bottom: 0;
    }
header{
    margin-left: -5rem;
    margin-right: -5rem;
    }
.dropdown{
    height: auto;
    }
#content{
    display: grid;
    grid-template-columns: auto;
}}